.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width:150px;
    height:auto;
}

.nav-items{
    padding: 20px;
}

.nav-items > ul {
    font-size: 20px;
    display:flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-container {
    display:flex;
    flex-wrap:wrap;
}

.res-card{
    margin:5px;
    width: 230px;
    padding: 5px;
    
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid #d4d5d9;
}

.search {
    padding: 10px;
}

.res-logo {
    width:100%;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.filter{
    display:flex;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 20px;
    width: 230px;
    height: 460px;
    background-color: #f0f0f0;
}

.login{
    margin:15px;
    cursor:pointer;
}

a{
    text-decoration: none;
    color: black;
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
}

 .RestaurantName{
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
 }

 .RestaurantCuisine{
    color: #686b78;
    font-size: 13px;
    margin-top: 4px;
 }

 
.RestaurantRating {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 18px;
    font-size: 12px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #535665;
}


.RestaurantIcon {
    background-color: #48c479;
    color: #fff;
    height: 20px;
    width: 30px;
    padding: 0 5px;
    font-weight: 400;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.icon-star{
    padding-right: 2px;
    margin-bottom: 2px;
}

/* Swiggy App Container */

.RestaurantHeader_container{
    margin: 0 16px;
}

.RestaurantHeader_wrapper {
    padding-top: 16px;
    margin-bottom: 18px;
}

.RestaurantNameAddress_wrapper {
    display: inline-block;
    margin-right: 16px;
    width: calc(100% - 120px);
}

.RestaurantNameAddress_name{
    font-size: 1.43rem;
    font-weight: 600;
    color: #282c3f;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.RestaurantNameAddress_cuisines{
    font-size: .93rem;
    color: #7e808c;
    height: calc(0.93rem + 2px);
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    white-space: nowrap;
}

.RestaurantNameAddress_areaWrapper{
    display: flex;
    align-items: center;
    height: 16px;
}

.RestaurantNameAddress_area{
    font-size: .93rem;
    color: #7e808c;
}

.RestaurantNameAddress_lastMile{
    font-size: .93rem;
    color: #7e808c;
}

.RestaurantRatings_wrapper{
    border: 1px solid #e9e9eb;
    box-shadow: 0 1px 5px #f9f9f9;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    margin-top: 15px;
    max-width: 100px;
    float: right;
}

.RestaurantRatings_avgRating{
    color: #3d9b6d;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9eb;
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
}

.RestaurantRatings_totalRatings{
    font-size: 11px;
    color: #8b8d97;
    font-family: ProximaNovaCondensedRegular,arial,Helvetica Neue,sans-serif;
    font-weight: 600;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.RestaurantMessage_wrapper__2Mfts:last-child{
    margin-bottom: 18px;
}

.RestaurantMessage_wrapper__2Mfts{
    color: #7e808c;
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
}

.RestaurantMessage_icon__1qCvu{
    margin-right: 8px;
    height: 18px;
    width: 18px;
}

img{border-style: none;}

.RestaurantMessage_text__1k5GF {
    flex-grow: 1;
}

.ScreenReaderOnly_screenReaderOnly___ww-V {
    position: absolute;
    clip: rect(0,0,0,0);
    display: block;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}

.RestaurantHeader_dottedSeparator__2O2hU {
    border: none;
    border-bottom: 1px dashed #d3d3d3;
}

.RestaurantTimeCost_wrapper__3YXF9 {
    color: #3e4152;
    font-size: 15px;
    font-weight: 700;
}

.RestaurantTimeCost_item__2HCUz:first-child {
    margin-right: 24px;
}

.RestaurantTimeCost_item__2HCUz {
    display: inline-block;
}

.RestaurantTimeCost_icon__8UdT4 {
    vertical-align: bottom;
    margin-right: 10px;
}


/* Toggle Button COntainer */

.styles_topMargin__2wPNf {
    margin-top: 24px;
}

.styles_container__28Awf {
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.styles_vegOnly__3k3n5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 14px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.styles_vegOnlyLabel__HR3Ii {
    font-size: 1rem;
    color: #3d4152;
    font-weight: 600;
}

.styles_vegOnlyFilter__3ODDm {
    margin-left: 12px;
    font-size: 0;
}

.ToggleSwitch_toggleBar__1peIy, .ToggleSwitch_toggleThumb__NBLuA {
    height: 18px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ToggleSwitch_toggleBar__1peIy {
    background: #d4d5d9;
    width: 36px;
    position: relative;
    -webkit-transition: background-color .25s linear;
    -o-transition: background-color .25s linear;
    transition: background-color .25s linear;
    will-change: background-color;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    contain: layout;
    display: inline-block;
    border-radius: 4px;
}

.ToggleSwitch_toggleThumb__NBLuA {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    background: #fff;
    border: 2px solid #d4d5d9;
    -webkit-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    will-change: transform,border-color;
    contain: strict;
    border-radius: 4px;
}

.ToggleSwitch_toggleBar__1peIy, .ToggleSwitch_toggleThumb__NBLuA {
    height: 18px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.styles_vegOnlyFilter__3ODDm {
    margin-left: 12px;
    font-size: 0;
}

.ToggleSwitch_toggleThumbContent__33ZU6 {
    opacity: 0;
    -webkit-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    transition: opacity .25s linear;
    will-change: opacity;
}

.styles_vegOnlyCircle__3UQr3 {
    background: #0f8a65;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}